header {
    background-color: #333;
    color: rgb(250, 5, 5);
    padding: 10px;

}
body{background-image: url('https://img.freepik.com/fotos-premium/fondo-suave-acuarela-azul-claro_3590-93.jpg');

}

*{
    font-size:  28px;
    text-align: center;
}
p {color: rgb(42, 6, 248);
}
nav{
    background-color: rgb(249, 249, 250);
    padding: 10px;
}
a{
    text-decoration: none;
color: blue;
}
ul{
    list-style: none;
}
li{
    font-size: 24px;
    margin: 100px;
    display: inline;
    text-align: justify;
}
footer{
    background-color: peachpuff;
}